<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>App Senhas</title>
</head>
<body>
    <h1>Essa é a página de registro do appSenhas</h1>

    <p>👍</p> <br> <br>

    <p>Já tem uma conta?</p>
    <button id="href-login">Login</button>
    
    <button id="href-inicial">Página inicial</button>
    
</body>
<script src="../js/registrar.js"></script>
</html>